@import './responsive';

$radius: 12px;
$blur: 16px;
$dock-height: 4.5rem;
$accent: #0061d0;

$red: #ff5f57;
$green: #28c63f;
$yellow: #f5bd4f;
$blue: #0061d0;
$gray: #dbdbdc;

$colors: (
  js: #f4df4f,
  ts: #4179c1,
  node: #94ca4a,
  python: #3f7287,
  java: #a7742f,
  c: #555555,
  cpp: #e1597e,
  shell: #9ddd66,
  vue: #64b587,
  react: #81d8f7,
  rxjs: #da358d,
  pwa: #5023c0,
  git: #df5b40,
  docker: #5caeeb,
  linux: #272727,
  vim: #4b9c54,
  npm: #cb3837,
);

$theme: (
  light: (
    pure: #ffffff,
    primary: #eff2f5,
    secondary: #f3f7fa,
    teriary: #ffffff,
    border: #d8d4dd,
    text: #282828,
    mask: #000000,
  ),
  dark: (
    pure: #1c1c1e,
    primary: #262c32,
    secondary: #3a3f42,
    teriary: #5c6165,
    border: #3b4146,
    text: #e0e0e0,
    mask: #ffffff,
  ),
);

@mixin theme {
  @each $theme-name, $palette in $theme {
    // Temp theme map
    $map-theme: () !global;

    @each $key, $color in $palette {
      $map-theme: map-merge(
        $map-theme,
        (
          $key: $color,
        )
      ) !global;
    }

    body.#{$theme-name} {
      @content;
    }

    // Clear map
    $map-theme: null !global;
  }
}

// Get color value from temp map
@function t($key) {
  @return map-get($map-theme, $key);
}

$elevation: (
  lowest: 0,
  low: 1,
  middle: 2,
  high: 3,
  highest: 4,
);

@function elevation($key) {
  @return map-get($elevation, $key);
}

@mixin page {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

// Common transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
